@mixin responsive($breakpoint-min, $breakpoint-max: null) {
    @if ($breakpoint-max) {
        @if map-has-key($breakpoints, $breakpoint-min) and
            map-has-key($breakpoints, $breakpoint-max)
        {
            $breakpoint-min-value: map-get($breakpoints, $breakpoint-min);
            $breakpoint-max-value: map-get($breakpoints, $breakpoint-max);

            @media (min-width: $breakpoint-min-value) and (max-width: $breakpoint-max-value -1px) {
                @content;
            }
        }
    } @else {
        @if map-has-key($breakpoints, $breakpoint-min) {
            $breakpoint-min-value: map-get($breakpoints, $breakpoint-min);

            @media (min-width: $breakpoint-min-value) {
                @content;
            }
        }
    }
}

@mixin fade ($transition-duration: 0.5s, $duration: 2.5s) {
    -webkit-animation: fadein $transition-duration, fadeout $transition-duration $duration;
    animation: fadein $transition-duration, fadeout $transition-duration $duration;
}

@mixin font-size ($originSize, $modifier: 1) {
    font-size: $originSize * $modifier;
}

@mixin font-weight ($weight) {
    font-weight: map-get($weight-map, $weight)
}

@mixin font-family {
    font-family: "Roboto", sans-serif, Verdana;
}