.gallery {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    padding: 0;
    
    .item {
        -webkit-box-flex: auto;
        flex: auto;
        width: 400px;
        overflow: hidden;
        @include responsive(md) {
            max-height: 30vw;
            width: 200px;
        }
        @include responsive(lg) {
            max-height: 30vw;
            width: 400px;
        }
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            @include responsive(md) {
                max-height: 30vw;
            }
        }
    }
}