// Font-family properties
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

html {
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;

    body {
        @include font-family;
        @include font-weight(light);
        font-size: 15px;
        line-height: 1.5;
        margin: 0;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
        @include font-weight(inherit)
    }
}

@each $name, $modifier in $size-modifier {
    @include responsive(sm) {
        #{$name},
        .#{$name} {
            @include font-size($font-size-base / 2, $modifier);
        }
    }

    @include responsive(md) {
        #{$name},
        .#{$name} {
            @include font-size($font-size-base, $modifier);
            @include font-weight(light)
        }
    }
}

hr {
    margin: 1.5rem 0 !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@each $name, $colors in $colors-map {
    .bg-#{$name} {
        background-color: nth($colors, 1) !important;
        color: nth($colors, 2) !important;

        &:hover {
            background-color: darken(nth($colors, 1), 5%) !important;
        }
    }
    .text-#{$name} {
        color: nth($colors, 1) !important;
    }
}
